<h1> Pagína do Administrador</h1>
<div class="card bg-dark mt-2">
    <div class="card-body mt-2">
        <a href='/admin/postagens/' class="btn btn-primary">Editar postagens</a>
    </div>
    <div class="card-body">
        <a href='/admin/categorias/' class="btn btn-primary"> editar categorias</a>
    </div>
    <div class="m-3">
        <h5 style="color: white;">Usuários:</h5>
        <p style="color: white;">{{usario.nome}}</p>
    </div>

</div>