<div class="card text-center bg-black mt-5">
    <div class="card-header text-primary">
        <h1>Faça o Download aqui!</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">App EcoMap</h5>
        <p class="card-text">EcoMap Queimadas é uma aplicação móvel projetada para monitorar e fornecer informações
            em tempo real sobre atividades de queimadas em áreas geográficas específicas. O aplicativo utiliza dados da
            NASA e outras fontes confiáveis para fornecer uma visão abrangente das queimadas em todo o mundo.
            <br>
            <br>
            <strong>Principais Características:</strong>
            <br>
            <br>
            <strong>Mapa Interativo:</strong>
            <br>
            Apresenta um mapa interativo que exibe a localização das queimadas em tempo real.
            Os usuários podem navegar pelo mapa para visualizar áreas afetadas e obter detalhes sobre cada incidente.
            <br>
            <br>
            <strong>Detalhes da Queimada:</strong>
            <br>
            Fornece informações detalhadas sobre cada queimada, incluindo coordenadas geográficas, data de início,
            intensidade e área afetada.
            <br>
            <br>
            <strong>Notificações em Tempo Real:</strong>
            <br>
            Envio de notificações em tempo real para usuários sobre novos incidentes de queimadas em regiões de seu
            interesse.
            <br>
            <br>
            <strong>Histórico e Tendências:</strong>
            <br>
            Oferece um histórico de queimadas em determinada região, permitindo aos usuários analisar padrões e
            tendências ao longo do tempo.
            <br>
            <br>
            <strong>Avisos de Evacuação:</strong>
            <br>
            Integração com sistemas de alerta de emergência para fornecer avisos de evacuação em casos de queimadas
            severas próximas a áreas habitadas.
            <br>
            <br>
            <strong>Relatórios de Impacto Ambiental:</strong>
            <br>
            Permite aos usuários visualizar relatórios de impacto ambiental relacionados às queimadas, incluindo a
            extensão da área afetada, impacto na biodiversidade e qualidade do ar.
            <br>
            <br>
            <strong>Compartilhamento em Redes Sociais:</strong>
            <br>
            Funcionalidade de compartilhamento que permite aos usuários compartilhar informações sobre queimadas em suas
            redes sociais, aumentando a conscientização.
            <br>
            <br>
            <strong>Configurações de Preferência:</strong>
            <br>
            Permite que os usuários personalizem suas preferências, como áreas monitoradas, frequência de notificações e
            unidades de medida.
        </p>
        <a href="https://www.figma.com/file/bS7tM6BpbuBjM4kVwuoQoO/App_EcoMap?type=design&mode=design&t=XwdImIeP52HOWKpG-0" class="btn btn-primary">Download</a>
    </div>
    <div class="card-footer text-body-secondary">
</div>
<hr>