<h4>Loguin:</h4>
<div class="card bg-black">
    <div class="card-body">
        <form action="/usuarios/loguin" method="POST" >
            <label style="color: white;" for="email">Email: </label>
                <input type="email" class="form-control bg-dark" style="color: white;" name="email">
            <label style="color: white;" for="senha">Senha: </label>
                <input type="password" class="form-control bg-dark" style="color: white;" name="senha">
            <button class="btn btn-success mt-3" type="submit">Entrar</button>
        </form>
    </div>
</div>