<h4>Categorias: </h4>
<hr>
{{#each categorias}}
    <div class="card mt-2 bg-black">
        <div class="card-body">
            <a href="/categorias/{{slug}}"style="text-decoration: none; color: white;"><h5>{{nome}}</h5></a>
        </div>
    </div>
    
{{else}}

{{/each}}