<div class="card bg-black">
    <div class="card-body"; style="color: white;">
        <h1 style="color: white;">{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>